<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone - Todo App</title>
	<style type="text/css">
		#todo-list li.done {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>Todos</h1>
			<input id="new-todo" placeholder="what needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toggle-all" type="checkbox" />
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>
	<div id="info">double click to edit a todo</div>

	<script type="text/template" id="item-template">
	<div class="view">
		<input type="checkbox" class="toggle" <%= completed? 'checked="checked"':'' %> />&nbsp; <%= title %>
		<button class="destroy">delete</button>
	</div>
	</script>

	<script type="text/template" id="stats-template">
		<%= remaining %> item(s) left

		<a class="selected" href="#">All</a>
		<a href="#/active">Active</a>
		<a href="#/completed">Complete</a>
		<% if (completed) { %>
			<button id="clear-completed">Clear completed (<%= completed %> items)</button>
		<% } %>
	</script>

	<script src="js/vendor/jquery-1.11.1.min.js"></script>
	<script src="js/vendor/underscore-min.js"></script>
	<script src="js/vendor/backbone-1.1.2.min.js"></script>
	<script src="js/vendor/backbone.localStorage.js"></script>
	<!--
	<script src="js/models/todo.js"></script>
	<script src="js/collections/todos.js"></script>
	<script src="js/views/todos.js"></script>
	<script src="js/views/app.js"></script>
	-->
	<script src="js/app.js"></script>
</body>
</html>